body, html{
  font-family: "Raleway", sans-serif;
  width: 100%;;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* Hero Section */

#Hero-Section {
  background-image: url("../img/fotoo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


h1{
    margin: 0;
}
/* Mis trabajos */



#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

/*index.html*/


h2{
    font-size: ;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 0;
    background-color: #07a09b;
}

#educacion ul li, #experiencia ul li{
    list-style: none;
}